.heading {
  margin-top: 70px;
  margin-bottom: 70px;
  text-align: center;
}
.heading p {
  font-size: 20px;
  color: #212ea0;
  font-weight: 600;
  margin-bottom: 10px;
}
.heading h2 {
  font-size: 35px;
}
